@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: #03081E;
  font-family: "general", sans-serif;
}
/* main::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('/img/Noise-mob.webp') repeat;
  z-index: 2;
} */
* {
  scroll-behavior: smooth
}

@layer base {
  @font-face {
    font-family: "bangers";
    src: url("/fonts/Bangers-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "general";
    src: url("/fonts/Montserrat-Medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "mont-semibold";
    src: url("/fonts/Montserrat-SemiBold.woff2") format("woff2");
  }

  @font-face {
    font-family: "mont-bold";
    src: url("/fonts/Montserrat-Bold.woff2") format("woff2");
  }

  @font-face {
    font-family: "mont-normal";
    src: url("/fonts/Montserrat-Regular.woff2") format("woff2");
  }
}

@layer utilities {
  .border-hsla {
    @apply border border-white/20;
  }

  .nav-hover-btn {
    @apply relative ms-2 sm:ms-5 xl:ms-10 mb-4 lg:mb-0 font-general text-[0.75rem] xl:text-[0.875rem] leading-normal uppercase text-white after:absolute after:-bottom-0.5 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-neutral-800 after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] hover:after:origin-bottom-left hover:after:scale-x-100 dark:after:bg-white cursor-pointer;
  }

  .floating-nav {
    @apply bg-black rounded-lg border h-20;
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%];
  }

  .flex-center {
    @apply flex justify-start items-center;
  }

  .center_title .flex-center {
    @apply justify-center;
  }

  .mask-clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .bg-noise {
    @apply absolute top-0 left-0 w-[100vw] h-[100vh];
  }

  .yp-heading {
    @apply uppercase font-bangers yellowPink leading-[113%] sm:leading-[113%] md:leading-[113%] tracking-[1%];
  }

  .white-heading {
    @apply uppercase font-bangers text-white leading-[113%] sm:leading-[113%] md:leading-[113%] tracking-[1%];
  }

  .h3-heading {
    @apply uppercase font-bangers text-white leading-[100%] text-[1.5rem] lg:text-[2rem] sm:leading-[100%] tracking-[3%];
  }

  .h4-heading {
    @apply uppercase font-bangers text-white leading-[147%] text-[1.5rem] sm:leading-[147%] tracking-[9%];
  }

  .regular-text {
    @apply font-general text-white text-[0.95rem] leading-[142%] mb-6;
  }

  .regular-text .yp-color {
    @apply yellowPinkV2;
  }

  .white-linear-text {
    @apply uppercase font-bangers whiteLinear text-[4rem] leading-[110%] mb-0 p-1;
  }

  .copyright {
    @apply font-mont-normal text-white/[60%] text-[0.63rem] leading-[165%];
  }

  .animated-title {
    @apply flex flex-col gap-1 text-7xl uppercase leading-normal text-white sm:px-32 md:text-[6rem] sm:leading-normal md:leading-normal;
  }

  .animated-word {
    @apply font-bangers opacity-0;
    transform: translate3d(10px, 51px, -60px) rotateY(60deg) rotateX(-40deg);
    transform-origin: 50% 50% -150px !important;
    will-change: opacity, transform;
  }

  .robocat-tilt_1 {
    @apply relative border-yellowPink-linear border-[1px] col-span-2 transition-transform duration-300 ease-out bg-blue-600 z-[4];
  }

  .robocat-tilt_2 {
    @apply absolute top-0 left-0 md:left-[3.5rem] rotate-6 border-yellowPink-linear border-[1px] col-span-2 transition-transform duration-300 ease-out bg-blue-600 robocat-tilt_2-shadow z-[3];
  }

  .roadmap-card {
    @apply bg-blue-800 border-yellowPink-linear border-[1px] pt-[0.8rem] pb-5 px-5;
  }

  .tokenomic_card {
    @apply bg-brown-100 border-yellowPink-linear border-[1px] py-[0.65rem] px-4 md:p-5;
  }

  .step-card {
    @apply relative bg-blue-800 border-yellowPink-linear border-[1px] pt-5 px-5 pb-16 max-h-[193px] w-full;
  }

  .accordion-faq-item {
    @apply relative bg-blue-900 border-yellowPink-linear border-[1px] p-5;
  }

  .accordion-faq-plusX {
    @apply bg-blue-100 border-yellowPink-linear border-[1px];
  }

  .accordion-plusMinus {
    @apply bg-transparent border-yellowPink-linear border-[1px] p-0;
  }

  .robocat-title {
    @apply uppercase md:text-6xl text-4xl font-bangers;
  }

  .story-img-container {
    @apply relative md:h-dvh h-[90vh] w-full;
    filter: url("#flt_tag");
  }

  .story-img-mask {
    @apply absolute left-0 top-0 size-full overflow-hidden md:left-[20%] md:top-[-10%] md:size-4/5;
    clip-path: polygon(4% 0, 83% 21%, 100% 73%, 0% 100%);
  }

  .story-img-content {
    @apply absolute w-full md:h-dvh h-[50dvh] opacity-100 left-10 top-16 md:left-0 md:top-10 lg:left-[-300px] lg:top-[-100px];
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0) rotateZ(0) scale(1);
  }

  .border-gradient {
    border-image: linear-gradient(0deg, #F7DF11 0%, #FF009D 100%);
    border-image-slice: 1;
  }
  .accordion-header {
    @apply flex flex-row items-center justify-between p-1 cursor-pointer;
    height: var(--tw-space-accordion-item);
  }
  .accordion-item {
    position: relative;
    @apply roadmap-card !p-3 mb-6;
  }
  .roadmap-charts-container-mobile {
    position: relative;
  }
}

.hero-has-shades::after,
.hero-has-shades::before {
  position: absolute;
  content: "";
  left: 0;
  width: 100vw;
  z-index: 2;
}
.hero-has-shades::after {
  top: 0;
  height: 147px;
  background: #292D59; /* Fallback for older browsers without gradient support */
  background: -webkit-linear-gradient(to bottom, rgba(41, 45, 89, 1) 11%, rgba(41, 45, 89, 0) 100%); /* Chrome, Safari */
  background: -moz-linear-gradient(to bottom, rgba(41, 45, 89, 1) 11%, rgba(41, 45, 89, 0) 100%); /* Firefox */
  background: -o-linear-gradient(to bottom, rgba(41, 45, 89, 1) 11%, rgba(41, 45, 89, 0) 100%); /* Opera */
  background: linear-gradient(to bottom, rgba(41, 45, 89, 1) 11%, rgba(41, 45, 89, 0) 100%); /* Standard */
}
.hero-has-shades::before {
  bottom: 50px;
  height: 190px;
  background: #292D59; /* Fallback for older browsers without gradient support */
  background: -webkit-linear-gradient(to top, rgba(41, 45, 89, 1) 34%, rgba(41, 45, 89, 0) 100%); /* Chrome, Safari */
  background: -moz-linear-gradient(to top, rgba(41, 45, 89, 1) 34%, rgba(41, 45, 89, 0) 100%); /* Firefox */
  background: -o-linear-gradient(to top, rgba(41, 45, 89, 1) 34%, rgba(41, 45, 89, 0) 100%); /* Opera */
  background: linear-gradient(to top, rgba(41, 45, 89, 1) 34%, rgba(41, 45, 89, 0) 100%); /* Standard */
}
.cyber-punk-city-bg::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: url("/img/hero/cyber-punk-city-1.webp") no-repeat center center/cover;
}
.border-yellowPink-linear {
  border-image: linear-gradient(180deg, rgba(247,223,17,1) 0%, rgba(255,0,157,1) 100%);
  border-image-slice: 1;
}
.centralized-text::before,
.centralized-text::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.32);
}
.centralized-text::before {
  margin-right: 15px;
}
.centralized-text::after {
  margin-left: 15px;
}
.robocat-tilt_2-shadow {
  box-shadow: 5px 5px 30px rgba(255, 255, 255, 0.68);
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(255, 255, 255, 0.68);
  color: #222;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position the tooltip above the icon */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.dotted-line-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 9px;
  height: 100%;
  background: linear-gradient(0deg, #F7DF11 0%, #FF009D 100%);
}
.accordion-item::before {
  content: '';
  position: absolute;
  top: 75%;
  left: 9px;
  transform: translate(-50%, -50%);
  width: 170px;
  height: 170px;
  background: url('/img/roadmap/circle-with-dot.png') no-repeat center center/contain;
}
.accordion-item.first::before {
  content: '';
  position: absolute;
  top: 75%;
  left: 9px;
  transform: translate(-50%, -50%);
  width: 170px;
  height: 170px;
  background: url('/img/roadmap/circle-with-dot.png') no-repeat center center/contain;
  pointer-events: none; /* Prevent interaction */
}
.accordion-item.first.active::before {
  top: 17.5%;
}
.roadmap-charts-container-mobile::before {
  content: '';
  position: absolute;
  left: 0;
  top: 2rem; /* Top 8 in Tailwind is 2rem */
  width: 9px;
  height: 90%;
  background: linear-gradient(to bottom, #F7DF11, #FF009D);
}
.card_three::before,
.card_two::before,
.card_one::before {
  position: absolute;
  content: '';
  background-color: #A07F6080;
  border-width: 1px;
  border-image: linear-gradient(175deg, rgba(247,223,17,1) 0%, rgba(255,0,157,1) 100%);
  border-image-slice: 1;
  z-index: -1;
}
.card_one::before {
  top: -13px;
  left: 13px;
  width: 99%;
  height: 100%;
  transform: rotate(2deg);
}
.card_two::before {
  top: -13px;
  left: -13px;
  width: 100%;
  height: 100%;
  transform: rotate(1deg);
}
.card_three::before {
  top: 13px;
  left: 13px;
  width: 100%;
  height: 100%;
  transform: rotate(-2deg);  
}
.swiper-wrapper {
  align-items: center;
}
.btn-clone {
  box-shadow: 5px 5px 30px rgba(255, 255, 255, 0.68);
}
.floating-nav .btn-clone {
  box-shadow: none;
}
.nav-items-container {
  right: -2rem;
}
.offcanvas-logo-container {
  position: absolute;
  top: 7rem;
  right: 3rem;
}

@media (min-width: 320px) {
  .offcanvas-btn-group {
    right: 7%;
  }
}
@media (min-width: 360px) {
  .offcanvas-btn-group {
    right: 9%;
  }
}
@media (min-width: 360px) {
  .offcanvas-btn-group {
    right: 10%;
  }
}
@media (min-width: 412px) {
  .offcanvas-btn-group {
    right: 12%;
  }
  .offcanvas-logo-container {
    right: 4rem;
  }
}
@media (min-width: 640px) { /* Tailwind's `sm` breakpoint is 640px */
  .roadmap-charts-container-mobile::before {
    left: 1.45rem;
  }
  .accordion-item::before,
  .accordion-item.first::before {
    left: -9px;
  }
  .accordion-item.first.active::before {
    top: 27%;
  }
}
@media (min-width: 768px) {
  .offcanvas-btn-group {
    right: 23%;
  }
  .nav-items-container {
    right: -5rem;
  }
  .offcanvas-logo-container {
    right: 12rem;
  }
}
@media (min-width: 835px) and (max-width: 900px) {
  .accordion-item::before,
  .accordion-item.first::before {
    left: -18px;
  }
}
@media (min-width: 828px) and (max-width: 834px) {
  .accordion-item::before,
  .accordion-item.first::before {
    left: -12px;
  }
}
@media (min-width: 992px) {
  .card_one::before {
    top: -20px;
    left: 25px;
    width: 99%;
    height: 187px;
    transform: rotate(3deg);
  }
  .card_two::before {
    top: -20px;
    left: -20px;
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
  }
  .card_three::before {
    top: 20px;
    left: 20px;
    width: 100%;
    height: 100%;
    transform: rotate(0deg);  
  }
}
@media (min-width: 1024px) {
  .nav-items-container {
    right: 0;
  }
  .hero-has-shades::before {
    bottom: 0;
    height: 306px;
  }
}